.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  /* visibility: visible; */
}

.modal__content {
  border: 1px solid #0000004d;
  background-color: #ffffff;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 496px;
  width: 100%;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close-button {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__form {
  width: 100%;
}

.modal__label {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  width: 440px;
  padding-top: 8px;
}

.modal__input_type_text {
  display: flex;
  flex-direction: column;
}

.modal__submit-button {
  font-family: "Cabinet";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  background: #000000;
  cursor: pointer;
  margin-top: 30px;
}

.modal__submit-button:hover {
  background-color: #00000099;
}
