.upcoming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.upcoming__title {
  margin: 0 0 30px;
  padding-bottom: 5px;
  font-size: 42px;
  border-bottom: 1px solid black;
}

.upcoming__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.upcoming__cards-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.upcoming__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  padding-right: 30px;
  overflow: hidden;
  box-shadow: 5px 10px 20px 2px rgb(0 0 0 / 40%);
  scale: 100%;
  transition: 0.5s ease-in-out;
}

.upcoming__card:hover {
  scale: 101%;
  box-shadow: 20px 20px 40px 6px rgb(0 0 0 / 40%);
  cursor: pointer;
}

.upcoming__image-container {
  width: 20%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.upcoming__image {
  width: 100%;
  aspect-ratio: 1;
  background-color: #72c8f7;
  padding: 20px;
  object-fit: cover;
}

.upcoming__trip-container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upcoming__trip-name {
  font-size: 45px;
  padding: 0 0 6px 0;
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.upcoming__info {
  padding: 6px 0 0 0;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 24px;
}

.upcoming__trip-dates {
  margin: 0;
  font-size: 40px;
  color: grey;
  border-right: 3px solid #72c8f7;
  padding-right: 20px;
  text-wrap: nowrap;
}

.upcoming__location {
  margin: 0;
  font-size: 40px;
  color: grey;
  padding-left: 20px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.upcoming__button-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.upcoming__delete-button {
  margin-left: auto;
  font-size: 32px;
  background-color: transparent;
  border: none;
  color: black;
}

.upcoming__delete-button:hover {
  color: red;
  cursor: pointer;
}

.upcoming__card:hover .upcoming__button-container {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.upcoming__new-plan-button {
  margin: 30px auto;
  width: 500px;
  height: 80px;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 30px;
  border: none;
}

.upcoming__new-plan-button:hover {
  color: black;
  background-color: #72c8f7;

  cursor: pointer;
}

@media screen and (max-width: 1115px) {
}

@media screen and (max-width: 580px) {
  .upcoming__title {
    font-size: 24px;
  }
  .upcoming__new-plan-button {
    width: 300px;
    font-size: 26px;
  }
}
