.day-schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}

.day-schedule__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.day-schedule__date {
  font-size: 42px;
  margin: 0;
}

.day-schedule__button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.day-schedule__left-arrow {
  width: 48px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;
}

.day-schedule__left-arrow:hover {
  opacity: 0.6;
}

.day-schedule__calendar {
  width: 48px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;
}

.day-schedule__calendar:hover {
  opacity: 0.6;
}

.day-schedule__right-arrow {
  width: 48px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;
}

.day-schedule__right-arrow:hover {
  opacity: 0.6;
}

.day-schedule__event-cards {
  list-style: none;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}

.day-schedule__event-card {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  border-bottom: 3px solid grey;
  margin: 0 25px;
}

.day-schedule__event-card:last-of-type {
  border-bottom: none;
}

.day-schedule__time {
  font-size: 32px;
  margin: 0 20px 0 0;
  align-self: center;
}

.day-schedule__event-container {
}

.day-schedule__event-title {
  margin: 0 0 10px 0;
  border-bottom: 1px solid grey;
  font-size: 40px;
}

.day-schedule__event-info-container {
  display: flex;
  flex-direction: column;
}

.day-schedule__event-location-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.day-schedule__location-icon {
  width: 40px;
  aspect-ratio: 1;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.day-schedule__location-address {
  font-size: 36px;
  margin: 0;
}

.day-schedule__event-notes-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.day-schedule__event-note {
  font-size: 32px;
  margin: 0;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgb(184, 184, 184);
}

@media screen and (max-width: 479px) {
  .day-schedule__date {
    font-size: 28px;
  }

  .day-schedule__left-arrow {
    width: 36px;
  }

  .day-schedule__calendar {
    width: 36px;
  }

  .day-schedule__right-arrow {
    width: 36px;
  }

  .day-schedule__event-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  .day-schedule__time {
    font-size: 22px;
  }

  .day-schedule__location-icon {
    width: 36px;
  }

  .day-schedule__location-address {
    font-size: 28px;
  }

  .day-schedule__event-note {
    font-size: 28px;
  }
}
