.day-schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}

.day-schedule__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.day-schedule__date {
  font-size: 42px;
  margin: 0;
}

.day-schedule__button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.day-schedule__left-arrow {
  width: 48px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;
}

.day-schedule__left-arrow:hover {
  opacity: 0.6;
}

.day-schedule__calendar {
  width: 48px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;
}

.day-schedule__calendar:hover {
  opacity: 0.6;
}

.day-schedule__right-arrow {
  width: 48px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1;
  cursor: pointer;
}

.day-schedule__right-arrow:hover {
  opacity: 0.6;
}

.day-schedule__event-cards {
  list-style: none;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}

.day-schedule__event-card {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 3px solid grey;
  margin: 0 25px;
}

.day-schedule__event-card:last-of-type {
  border-bottom: none;
}

.day-schedule__duration {
  width: 12%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-schedule__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1.2;
}
.day-schedule__start-time {
  color: black;
  font-weight: 700;
}

.day-schedule__time-divider {
  width: 30px;
  height: 1px;
  background-color: gray;
  margin: 6px 0;
}

.day-schedule__end-time {
  color: grey;
  font-size: 20px;
}

.day-schedule__event-container {
  width: 100%;
}

.day-schedule__header {
  border-bottom: 1px solid grey;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.day-schedule__event-title {
  margin: 0;
  font-size: 40px;
}

.day-schedule__add-note-button {
  background-color: transparent;
  color: black;
  border: none;
  visibility: hidden;
}

.day-schedule__add-note-button:hover {
  color: #72c8f7;
  cursor: pointer;
}

.day-schedule__event-card:hover .day-schedule__add-note-button {
  visibility: visible;
}

.day-schedule__event-info-container {
  display: flex;
  flex-direction: column;
}

.day-schedule__event-location-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.day-schedule__location-icon {
  width: 40px;
  aspect-ratio: 1;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.day-schedule__location-address {
  font-size: 36px;
  margin: 0;
}

.day-schedule__event-notes-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.day-schedule__event-note {
  font-size: 32px;
  margin: 0;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgb(184, 184, 184);
}

@media screen and (max-width: 479px) {
  .day-schedule__date {
    font-size: 28px;
  }

  .day-schedule__left-arrow {
    width: 36px;
  }

  .day-schedule__calendar {
    width: 36px;
  }

  .day-schedule__right-arrow {
    width: 36px;
  }

  .day-schedule__event-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  .day-schedule__time {
    font-size: 22px;
  }

  .day-schedule__location-icon {
    width: 36px;
  }

  .day-schedule__location-address {
    font-size: 28px;
  }

  .day-schedule__event-note {
    font-size: 28px;
  }
}
