.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #72c8f7;
  border-radius: 10px 10px 0 0;
  padding: 0 30px;
}

.header__title {
  font-size: 64px;

  color: rgb(48, 106, 52);
}

.header__button {
  font-size: 25px;
  width: 100px;
  height: 60px;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.header__button:nth-of-type(2) {
  margin-left: 8px;
}

.header__new-plan-button {
  font-size: 32px;
  width: 200px;
  height: 60px;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.header__new-plan-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
