.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #72c8f7;
  border-radius: 10px 10px 0 0;
  padding: 0 30px;
}

.header__title {
  font-size: 50px;
  font-family: Helvetica;
  font-weight: 100;
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  color: #72c8f7;
}

.header__new-plan-button {
  font-size: 32px;
  width: 200px;
  height: 60px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.header__new-plan-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__auth-buttons {
}

.header__button {
}
