.calendar-title {
  margin: 40px 0 30px;
  padding-bottom: 5px;
  font-size: 42px;
  border-bottom: 1px solid black;
}

.calendar-trip-names {
  margin-top: 4px;
  font-size: 14px;
  color: #444;
  text-align: center;
}

.calendar-trip-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.calendar-notes-text {
  width: 300px;
  height: 150px;
}

.calendar-note {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.react-calendar {
  width: 100% !important;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 20px;
}

.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 20px;
  margin-top: 8px;
  padding: 5px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #72c8f7;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #72c8f7;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #72c8f7;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #72c8f7;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #72c8f7;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #72c8f7;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #72c8f7;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #72c8f7;
  color: white;
}

.react-calendar__tile {
  padding: 6px 0;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.calendar-tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar__tile:hover {
  background-color: #f4f4f4;
}
