.trips__title {
  font-size: 28px;
  margin: 0 0 30px;
  padding-bottom: 5px;
  font-size: 42px;
  border-bottom: 1px solid black;
}

.trips__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  list-style: none;
  padding: 0;
}

.trips__new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cbc8c8;

  height: 240px;
  border-radius: 16px;
  border: 1px solid #000000;
  transition: 0.3s;
  position: relative;
}

.trips__new-card:hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.trips__plus-icon {
  font-size: 42px;
}

.trips__card-text {
  font-size: 36px;
  margin: 0;
}
