.modal__button_alternate {
  background-color: black;
  color: #fff;
  margin: 3px;
  height: 36px;
  border-radius: 8px;
  border: none;
}

.modal__submit-button {
  color: #fff;
  height: 36px;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 479px) {
  .modal-content {
    width: 90vw;
    max-width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    justify-content: center;
    align-items: center;
  }
}
